@import '../base/color';
.chat-history-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  .chat-pull-to-refresh {
    width: 100%;
  }
  .chat-input-wraper {
    display: flex;
    align-items: center;
    .chat-input {
      flex: 1;
    }
    .chat-button {
      margin: 0!important;
      border-radius: 0;
      height: 44px;
      line-height: 44px;
      font-size: 16px;
    }
  }
}