@import '../base/color';
.chat-history-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  .chat-pull-to-refresh {
    width: 100%;
  }
  .chat-input-wraper {
    display: flex;
    align-items: stretch;
    .chat-input {
      flex: 1;
    }
    .chat-button {
      border-radius: 0;
      height: inherit;
      line-height: inherit;
      display: flex;
      align-items: center;
    }
  }
}