
.am-pull-to-refresh-content-wrapper {
  overflow: visible;
}

.pull-down-loading-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  .pull-down-loading-text {
    margin-left: 10px;
  }
}