@import './base/common';
@import './base/color';

.ant-layout {
  color: $white;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  .ant-layout-header,
  .ant-layout-footer {
    background-color: $header-footer-blue;
  }
  .ant-layout-footer {
    bottom: 0;
  }
  .ant-layout-content {
    background-color: $content-blue;
  }
}
